parameters:
  os: ''
  pwsh: false

steps:
- task: NuGetAuthenticate@0

- task: PowerShell@2
  displayName: 'Register Private Repository'
  inputs:
    targetType: 'inline'
    script: |
      $n = "BurpSuite"
      $e = "$(ARTIFACTS_EMAIL)"
      $url = "$(ARTIFACTS_URL)"
      $pwd = ConvertTo-SecureString "$(ARTIFACTS_PAT)" -AsPlainText -Force
      $creds = New-Object PSCredential($e, $pwd)

      # LINK: https://github.com/Microsoft/artifacts-credprovider
      $Env:NUGET_CREDENTIALPROVIDER_SESSIONTOKENCACHE_ENABLED = 'true'
      $Env:VSS_NUGET_EXTERNAL_FEED_ENDPOINTS = '{{"endpointCredentials": [{{"endpoint":"{0}", "username":"{1}", "password":"{2}"}}]}}' -f $url, $e, "$(ARTIFACTS_PAT)"

      if(-not (Get-PSRepository | ? Name -eq $n)) { Register-PSRepository -Credential $creds -Name $n -SourceLocation $url -PublishLocation $url -InstallationPolicy Trusted }
    pwsh: ${{ parameters.pwsh }}

- task: PowerShell@2
  displayName: 'Install BurpSuite'
  inputs:
    targetType: 'inline'
    script: |
      $n = "BurpSuite"
      $e = "$(ARTIFACTS_EMAIL)"
      $url = "$(ARTIFACTS_URL)"
      $pwd = ConvertTo-SecureString "$(ARTIFACTS_PAT)" -AsPlainText -Force # Readonly PAT for Azure DevOps artifacts
      $creds = New-Object PSCredential($e, $pwd)

      # LINK: https://github.com/Microsoft/artifacts-credprovider
      $Env:NUGET_CREDENTIALPROVIDER_SESSIONTOKENCACHE_ENABLED = 'true'
      $Env:VSS_NUGET_EXTERNAL_FEED_ENDPOINTS = '{{"endpointCredentials": [{{"endpoint":"{0}", "username":"{1}", "password":"{2}"}}]}}' -f $url, $e, "$(ARTIFACTS_PAT)"

      Install-Module -Name "BurpSuite" -Repository $n -Credential $creds -Force -Scope CurrentUser
    pwsh: ${{ parameters.pwsh }}

- task: PowerShell@2
  displayName: 'Build Module $(ModuleName)'
  inputs:
    targetType: 'inline'
    script: './build.ps1 -Bootstrap'
    pwsh: ${{ parameters.pwsh }}

- task: PowerShell@2
  displayName: 'Set Module Path'
  inputs:
    targetType: 'inline'
    script: |
      $outputModVerDir = Split-Path -Path (Resolve-Path -Path ./.out/$(ModuleName)/*/*.psd1)
      Write-Host  "##vso[task.setvariable variable=outputModVerDir]$outputModVerDir"
    pwsh: ${{ parameters.pwsh }}

- task: PublishCodeCoverageResults@2
  displayName: 'Publish Code Coverage'
  inputs:
    summaryFileLocation: '**/$(ModuleName)-Coverage.xml'
    pathToSources: '$(outputModVerDir)'
    failIfCoverageEmpty: true
  condition: and(succeededOrFailed(), eq(variables['System.PullRequest.IsFork'], false))

- task: PublishTestResults@2
  displayName: 'Publish Test Results'
  inputs:
    testResultsFormat: 'NUnit'
    testResultsFiles: '**/$(ModuleName)-TestsResults.xml'
    testRunTitle: '${{ parameters.os }} Unit Tests'
  condition: succeededOrFailed()
